.btn {
  padding: 4px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;

  border-radius: 30px;
  border: none;

  cursor: pointer;
  user-select: none;

  @include vp-767 {
    padding-left: 20px;

    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  &--primary {
    color: $color-primary;

    box-shadow: 0 0 0 1px $color-primary inset;
    background-color: $color-transparent;

    .btn__icon {
      background-color: $color-primary;
    }

    @include hover {
      color: $color-default-white;

      background-color: $color-primary;

      .btn__icon {
        background-color: $color-default-white;
      }

      svg {
        stroke: $color-primary;
      }

      &:active {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.7);

      background-color: $color-primary;

      .btn__icon {
        background-color: $color-default-white;
      }

      svg {
        stroke: $color-primary;
      }
    }

    &:focus,
    &:focus-visible {
      color: $color-default-white;

      background-color: $color-primary;

      .btn__icon {
        background-color: $color-default-white;
      }

      svg {
        stroke: $color-primary;
      }
    }
  }

  &--secondary {
    color: $color-default-white;

    box-shadow: 0 0 0 1px $color-default-white inset;

    .btn__icon {
      background-color: $color-default-white;
    }

    @include hover {
      color: $color-primary;

      background-color: $color-default-white;

      .btn__icon {
        background-color: $color-primary;
      }

      svg {
        stroke: $color-default-white;
      }

      &:active {
        color: rgba(49, 109, 194, 0.7);
      }
    }

    &:active {
      color: rgba(49, 109, 194, 0.7);

      background-color: $color-default-white;

      .btn__icon {
        background-color: $color-primary;
      }

      svg {
        stroke: $color-default-white;
      }
    }

    &:focus,
    &:focus-visible {
      color: $color-primary;

      background-color: $color-default-white;

      .btn__icon {
        background-color: $color-primary;
      }

      svg {
        stroke: $color-default-white;
      }
    }
  }

  &--primary,
  &--secondary {
    transition: all $trans-default;

    @include hover {
      svg {
        transform: rotate(45deg);
      }
    }

    &:active {
      svg {
        transform: rotate(45deg);
      }
    }

    &:focus,
    &:focus-visible {
      outline: none;

      svg {
        transform: rotate(45deg);
      }
    }

    &:disabled {
      outline: $color-disabled;

      .btn__icon {
        background-color: $color-disabled;
      }
    }
  }

  &--swiper {
    padding: 0;
    justify-content: center;
    width: 22px;
    height: 22px;

    border: none;
    border-radius: 50%;
    background-color: $color-transparent;

    transition: all $trans-default;

    svg {
      stroke: $color-primary;
    }

    @include hover {
      background-color: $color-default-white;

      &:active {
        svg {
          opacity: 0.7;
        }
      }
    }

    &:active {
      svg {
        opacity: 0.7;
      }
    }

    &:focus,
    &:focus-visible {
      background-color: $color-default-white;
      outline: none;
    }

    &:disabled {
      pointer-events: none;

      svg {
        stroke: $color-disabled;
      }
    }

    @include vp-767 {
      padding: 0;
    }
  }

  &--swiper-prev {
    transform: rotate(180deg);
  }

  &:disabled {
    pointer-events: none;
  }
}

.btn__icon {
  width: 46px;
  height: 46px;
  padding: 19px 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  transition: all $trans-default;

  @include vp-767 {
    width: 34px;
    height: 34px;
    padding: 12px;
  }

  svg {
    stroke: $color-default-white;
    transform: rotate(0);

    transition: transform $trans-default, stroke $trans-default;
  }

  &--secondary {
    svg {
      stroke: $color-primary;
    }
  }
}
