.hero__slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hero__slide {
  position: relative;

  min-height: 800px;
  height: fit-content;
  padding-bottom: 60px;
  display: flex;
  align-items: end;

  @media (min-width: 1440px) {
    min-height: 55.56vw;
  }

  @include vp-1199 {
    min-height: 133.3vw;
  }

  @include vp-767 {
    min-height: 177.5vw;
    padding-bottom: 20px;
  }

  picture,
  img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
  }
}

.hero__pagination {
  @include angle;

  padding: 14px 20px;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 12px;

  border-radius: 20px 20px 0 0;

  @include vp-767 {
    padding: 10px 16px;

    border-radius: 12px 12px 0 0;
  }
}

.hero__pagination-bullet {
  width: 10px;
  height: 10px;

  border: 1px solid $color-primary;
  border-radius: 50%;
  background-color: $color-transparent;

  transition: all $trans-default;
  cursor: pointer;

  &--active {
    background-color: $color-primary;
  }

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  @include hover {
    border-color: $color-primary-darker;

    &:active {
      background-color: $color-primary;
    }
  }

  &:active {
    background-color: $color-primary;
  }

  &:focus,
  &:focus-visible {
    border-color: $color-primary-darker;
  }
}

.hero__slide-inner {
  h3 {
    padding: 41px 50px 30px;
    margin: 0;
    margin-top: -1px;
    width: 78.1%;
    min-width: 194px;

    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    color: $color-primary;

    border-radius: 0 30px 30px 0;
    background-color: $color-default-white;

    @include vp-1199 {
      padding: 30px 39px 24px;
      width: 97%;
      font-size: 36px;
      line-height: 44px;
    }

    @include vp-767 {
      padding: 20px 14px 16px;
      width: 100%;

      font-size: 22px;
      line-height: 26px;

      border-radius: 0 16px 16px 0;
    }
  }
}

.hero__slide-info {
  @include angle;

  padding: 1px 50px 35px;
  margin-top: -1px;
  width: 62.2%;
  display: flex;
  align-items: center;
  gap: 29px;

  border-radius: 0 0 30px 30px;

  @include vp-1199 {
    padding: 1px 40px 35px;
    width: 87.2%;
  }

  @include vp-767 {
    padding: 0;
    width: 100%;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    background-color: $color-transparent;

    &::after {
      display: none;
    }
  }

  p {
    margin: 0;
    line-height: 21px;

    @include vp-1199 {
      line-height: 18px;
    }

    @include vp-767 {
      @include angle;

      padding: 1px 14px 16px;
      width: 90%;

      font-size: 14px;
      line-height: 17px;

      background-color: $color-default-white;
      border-radius: 0 0 14px 0;

      &::after {
        top: 0;
        bottom: unset;

        transform: rotate(90deg);
      }
    }
  }

  &::after {
    top: 0;
    bottom: unset;
    right: -25px;

    width: 26px;
    height: 26px;

    transform: rotate(90deg);
    mask-size: cover;
  }
}

.hero__btn-wrapper {
  @include vp-767 {
    @include angle;

    margin-top: -1px;
    padding: 11px 15px;
    width: 63%;

    background-color: $color-default-white;
    border-radius: 0 0 14px 14px;

    &::after {
      top: 0;
      bottom: unset;

      transform: rotate(90deg);
    }
  }
}

.hero__slide-btn {
  min-width: 196px;

  @include vp-767 {
    min-width: 152px;
  }
}
