.news {
  padding-top: 124px;
  padding-bottom: 80px;

  h2 {
    @include title;

    margin-bottom: 45px;

    text-align: center;

    @include vp-1199 {
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-bottom: 28px;
    }
  }

  @include vp-1199 {
    padding-top: 99px;
  }

  @include vp-767 {
    padding-top: 68px;
    padding-bottom: 58px;
  }
}

.news__buttons {
  margin-bottom: 40px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    width: fit-content;
    margin: 0 auto;
    align-items: center;

    list-style: none;

    @include vp-1199 {
      gap: 10px;
    }

    @include vp-767 {
      gap: 12px;
      padding: 1px;
    }
  }

  @include vp-1199 {
    margin-bottom: 31px;
  }

  @include vp-767 {
    margin-bottom: 22px;

    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.news__button {
  padding: 13px 26px;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: rgba(49, 109, 194, 0.6);

  border: none;
  border-radius: 20px;
  background-color: $color-transparent;

  &--active {
    color: $color-primary;

    outline: 1px solid $color-primary;
  }

  @include vp-1199 {
    padding: 12px 20px;
  }

  @include vp-767 {
    padding: 8px 14px;

    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.news__swiper {
  width: 100%;
  margin-bottom: 41px;

  ul {
    margin: 0;
    padding: 0;
    gap: 2.6%;

    list-style: none;

    @include vp-1199 {
      flex-direction: column;
      flex-wrap: wrap;
      height: 95.2vw;
      gap: 30px;
    }

    @include vp-767 {
      height: 184.7vw;
      gap: 22px;
    }
  }

  @include vp-1199 {
    margin-bottom: 29px;

    li:nth-child(4) {
      order: 1;
    }

    li:nth-child(3) {
      order: 2;
    }
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.news__item {
  max-width: 286px;
  width: 23%;


  &--big {
    max-width: 604px;
    width: 48.7%;
  }

  article {
    position: relative;

    width: 100%;
    min-height: 27.7vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 45px;

    border-radius: 12px;

    @include vp-1199 {
      min-height: unset;
      height: 100%;
      padding-right: 85px;
    }

    @include vp-767 {
      padding-right: 28px;
    }
  }

  picture,
  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: auto;

    object-fit: cover;
    border-radius: 12px;

    @include vp-1199 {
      height: 100%;
    }
  }

  @include vp-1199 {
    min-width: 47.79%;
    width: unset;
    max-width: unset;
    min-height: 45.58vw;
  }

  @include vp-767 {
    min-width: 100%;
    min-height: 74.58vw;

    &--big {
      min-height: 103vw;
    }
  }
}

.news__article-wrapper {
  @include angle;

  height: fit-content;

  background-color: $color-transparent;

  &::after {
    bottom: unset;
    right: unset;
    top: -20px;
    left: 0;

    background-color: $color-light;
  }

  time {
    @include angle;

    display: block;
    padding: 12px 12px 5px 0;
    margin-top: -1px;
    width: fit-content;

    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: $color-primary;

    background-color: $color-light;
    border-radius: 0px 12px 0px 0px;

    &::after {
      background-color: $color-light;
    }

    @include vp-1199 {
      padding: 11px 12px 0 0;
      min-height: 27px;
    }

    @include vp-767 {
      padding: 9px 12px 0 0;

      &::after {
        right: -16px;

        width: 16px;
        height: 16px;
      }
    }
  }

  h3 {
    @include angle;

    margin: 0;
    margin-top: -1px;
    width: 214px;
    width: 89%;
    padding: 3px 10px 4px 0;
    margin-right: 72px;

    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-primary;

    background-color: $color-light;
    border-radius: 0px 12px 0px 0px;

    &::after {
      background-color: $color-light;
    }

    &>br {
      display: none;
    }

    @include vp-1199 {
      padding: 3px 7px 1px 0;
      width: 87%;

      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      width: 76%;
      padding: 11px 7px 4px 0;

      font-size: 16px;
      line-height: 18px;

      &::after {
        right: -16px;

        width: 16px;
        height: 16px;
      }

      &>br {
        display: block;
      }
    }
  }

  &--big {
    h3 {
      padding: 13px 10px 4px 0;
      width: fit-content;
      max-width: 291px;

      @include vp-1199 {
        padding: 9px 7px 2px 0;
        max-width: unset;
        width: 87%;
      }

      @include vp-767 {
        padding: 11px 7px 4px 0;
        width: 76%;
      }
    }
  }

  @include vp-767 {
    &::after {
      top: -17px;

      width: 16px;
      height: 16px;
    }
  }
}

// стоит заменить проценты на пиксели в ширине текста - будет лучше

.news__article-info {
  @include angle;

  padding: 9px 17px 11px 0;
  margin-top: -1px;
  margin-bottom: -1px;
  display: flex;
  gap: 16px;
  width: 240px;
  width: 100%;

  border-radius: 0px 12px;
  background-color: $color-light;

  &--big {
    padding: 9px 6px 11px 0;
    width: 69.6%;
    width: 389px;

    @include vp-1199 {
      width: 100%;
    }
  }

  &::after {
    background-color: $color-light;
  }

  p {
    margin: 0;
    max-width: 325px;

    font-size: 14px;
    line-height: 18px;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }

  @include vp-1199 {
    padding: 10px 17px 15px 0;
  }

  @include vp-767 {
    padding: 14px 9px 9px 0;

    &::after {
      right: -16px;

      width: 16px;
      height: 16px;
    }
  }
}


.news__article-btn {
  padding: 0;

  box-shadow: none;
}

.news__btn-icon {
  width: 30px;
  height: 30px;
  padding: 0;
}

.news__swiper-controls {
  display: flex;
  justify-content: space-between;
}

.news__pagination {
  display: flex;
  gap: 20px;

  @include vp-767 {
    gap: 16px;
  }
}

.news__pagination-btn {
  padding: 6px 13px;

  font-size: 16px;
  line-height: 20px;
  color: rgba(49, 109, 194, 0.5);

  border: none;
  border-radius: 50%;

  transition: background-color $trans-default, color $trans-default;

  &--active {
    color: $color-default-white;

    background-color: $color-primary;
  }

  @include vp-767 {
    padding: 6px 10px;

    font-size: 14px;
    line-height: 14px;
  }
}

.news__swiper-btn {
  padding: 0;
}
